<h1>Customers#index</h1>
<p>Find me in app/views/customers/index.html.erb</p>


<h2>会員一覧</h2>
  <table>
   <thead>
    <tr>
      <th>会員ID</th>
      <th>指名</th>
      <th>メールアドレス</th>
      <th>ステータス</th>
    </tr>
   </thead>
     <tbody>
<% @customers.each do |customer| %>
   <tr>
    <td><%= customer.id %></td>
    <td><%= link_to customer.last_name+customer.first_name, customer_path(customer.id) %></td>
    <td><%= customer.email %></td>
    <td><%= customer.is_active %></td>
  </tr>
  </tbody>
<% end %>
</table>
