<!--<div class="container">-->
<!--  <div class="row">-->
<!--    <div class='col-3'>-->
<!--    </div>-->
<!--    <div class="col-8 back_image ">-->
<!--      <div class="text-center text_top">-->
<!--      <p class="text_main">ようこそ、ながのCAKEへ！</p><br>-->
<!--      <p class="text_main">このサイトは、ケーキ販売のECサイトになります。</p><br>-->
<!--      <p class="text_main">会員でない方も商品の閲覧はできますが、</p><br>-->
<!--      <p class="text_main">購入には会員登録が必要となります。</p>-->
<!--      </div>-->
<!--  </div>-->
<!--   <div class="row">-->
<!--    <div class='offset-3'>-->
<!--    </div>-->
<!--      <h2 class="text_newitems">新着商品</h2></br>-->
<!--      <div class='offset-3'>-->
<!--      </div>-->
<!--      <%# @new_items.each do |item| %>-->
<!--          <div class='col-2'>-->
<!--          <%# if item.is_selling == true %>-->
<!--            <%# if item.image.attached? %>-->
<!--              <%#= link_to item_path(item.id) do %>-->
<!--                <%#= image_tag item.image, size: "150x150" %>-->
<!--               <%# end %>-->
<!--               <%# end %>-->
<!--               <%#= item.item_name %>-->
<!--            <p>￥<%#= (item.price * 1.1).round.to_s(:delimited)  %></p>-->
<!--          <%# end %>-->
<!--        </div>-->
<!--      <%# end %>-->
<!--    </div>-->
<!--  </div>-->
<!--  <p><%#= link_to "全ての商品を見る＞", items_path, class: 'float-right' %></p>-->
<!--</div>-->