<h1>ジャンル編集</h1>
<%= form_with model: @genre, url: admin_genre_path(@genre.id) do |f| %>
<table>
<tr>
 <td>ジャンル名</td>
 <td><%= f.text_field :name %></td>
 <td><%= f.submit '変更を保存' %></td>
 </tr>
 </table>
<% end %>
