// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.hoge{height: 300px;
  width: 400px;}
  
.homes-container {
  position: relative;
  }

.homes-text {
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  margin:0;
  padding:0;
  background-color: rgba(0, 0, 0, 0.4)
  /*文字の装飾は省略*/
  }
.all{
  
}
